
.idea/vcs.xml
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/issuestore/index.pb
.idea/modules/domain/CarouselDemo_IlaBank.domain.test.iml
.idea/modules/domain/CarouselDemo_IlaBank.domain.main.iml
.idea/modules/domain/CarouselDemo_IlaBank.domain.iml
.idea/modules/data/CarouselDemo_IlaBank.data.test.iml
.idea/modules/data/CarouselDemo_IlaBank.data.main.iml
.idea/modules/data/CarouselDemo_IlaBank.data.iml
.idea/modules/CarouselDemo_IlaBank.iml
.idea/modules/app/CarouselDemo_IlaBank.app.unitTest.iml
.idea/modules/app/CarouselDemo_IlaBank.app.main.iml
.idea/modules/app/CarouselDemo_IlaBank.app.iml
.idea/modules/app/CarouselDemo_IlaBank.app.androidTest.iml
.idea/misc.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/.name
.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.3.3/gc.properties
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileChanges/last-build.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/dependencies-accessors/gc.properties
.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.3/checksums/sha1-checksums.bin
.gradle/7.3.3/checksums/md5-checksums.bin
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.DS_Store
